#gameDiv {
	position: absolute; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	bottom: 0px; 
	margin: auto; 
	/*width: 720px; height: 480px;*/
}

/* SPRITER */

#gameCanvas {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background:gray;
}

#spriterDiv {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	/*width: 720px; height: 480px;*/
}

#spriterCanvas {
	position: absolute;
	z-index: 10;
	transform-origin: 0 0;
	image-rendering:pixelated;
	width: 100%;
	height: 100%;
	background:gray;
	transition:background 1s;
}

#previewCanvas {
	image-rendering:pixelated;
	background:gray;
	border-radius:3px;
}

.dragover .droppanel {display:block;}

.droppanel {
	z-index:99;
	border: 4px dashed white;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background: rgba(0,0,0,0.9);
	display:none;
	pointer-events:none;
}

.droplabel {
	font-size:4em;
	font-family:arial;
	color:white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* EDITOR */

#editorDiv {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	/*width: 720px; height: 480px;*/
}

#editorCanvas {
	position: absolute;
	z-index: 10;
	transform-origin: 0 0;
	image-rendering:pixelated;
	width: 100%;
	height: 100%;
}

/* SHARED */

.sidebar {
	z-index: 20;
    position: fixed;
    right: 30px;
    top: 11px;
    width: 9em;
}

.panel {
	padding:0.5em;
    background:#3c3c3c;
    border-radius:5px;
    margin-bottom:0.5em;
}

.panel .input {
	background: #313131; /*#585858;*/
    color: #fff;
    font-family: courier;
    font-size: 0.8em;
    border-radius:3px;
    padding-left:0.2em;
}

.panel .input.pair {
	display:inline-block;
	width:46%;
	margin-right:0.2em;
	margin-bottom:0.2em;
}

.panel .label:first-child {
	margin-top:-2px !important;
}

.panel .label {
	color: #fff;
	font-family:arial;
	font-size:0.7em;
	font-variant:small-caps;
	margin-bottom:0.1em;
	margin-top:0.2em;
	user-select:none;
	letter-spacing:1px;
}

.panel .button {
	background: #585858;
	color: #ddd;
	padding:0.2em;
	cursor:pointer;
	font-size:0.7em;
	font-family:arial;
	user-select:none;
	margin-bottom:0.2em;
	border-radius:3px;
}

.panel .button.pill {
	display:inline-block;
	margin-right:0.2em;
	padding-left:0.5em;
	padding-right:0.5em;
}

.panel .button.bgaqua {background:#00FFFF; color:#00FFFF;}
.panel .button.bgfuchsia {background:#FF00FF; color:#FF00FF;}
.panel .button.bggray {background:#808080; color:#808080;}
.panel .button.bgblack {background:#000; color:#000;}
.panel .button.bgwhite {background:#FFF; color:#FFF;}

.panel .button.icon {display:inline-block; margin-right:0.2em; padding:0 !important; width:16px; height:16px; background-size:contain;}
.panel .button.icon.shrinkleft {background-image:url('assets/shrink_left.png');}
.panel .button.icon.shrinkright {background-image:url('assets/shrink_right.png');}
.panel .button.icon.shrinktop {background-image:url('assets/shrink_top.png');}
.panel .button.icon.shrinkbottom {background-image:url('assets/shrink_bottom.png');}
.panel .button.icon.growleft {background-image:url('assets/grow_left.png');}
.panel .button.icon.growright {background-image:url('assets/grow_right.png');}
.panel .button.icon.growtop {background-image:url('assets/grow_top.png');}
.panel .button.icon.growbottom {background-image:url('assets/grow_bottom.png');}
.panel .button.icon.moveleft {background-image:url('assets/move_left.png');}
.panel .button.icon.moveright {background-image:url('assets/move_right.png');}
.panel .button.icon.moveup {background-image:url('assets/move_up.png');}
.panel .button.icon.movedown {background-image:url('assets/move_down.png');}

.panel .button.new {
	margin-bottom:0.2em;
}

.panel .button.anim.selected {
	color:yellow;
}

.panel .button:hover {
	background:#333;
	color:#aaa;
}