/******************************
	
	LAYERS

******************************/

#gameDiv {
	position: absolute; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	bottom: 0px; 
	margin: auto; 
	/*width: 720px; height: 480px;*/
}

#gameCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:gray;
	image-rendering:pixelated;
}

#editorDiv {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	/*width: 720px; height: 480px;*/
}

#editorCanvas {
	position: absolute;
	z-index: 10;
	transform-origin: 0 0;
	image-rendering:pixelated;
	width: 100%;
	height: 100%;
}

#spriterDiv {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	/*width: 720px; height: 480px;*/
	background-color:#666;
}

#spriterCanvas {
	position: absolute;
	transform-origin: 0 0;
	image-rendering:pixelated;
	width: 100%;
	height: 100%;
	background-color:gray;
	transition:background 1s;
}

#previewCanvas {
	image-rendering:pixelated;
	background-color:gray;
	border-radius:3px;
}

/******************************
	
	DROP ZONE

******************************/

.dragover .droppanel {display:block;}

.droppanel {
	z-index:99;
	border: 4px dashed white;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: rgba(0,0,0,0.9);
	display:none;
	pointer-events:none;
}

.droplabel {
	font-size:4em;
	font-family:arial;
	color:white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/******************************
	
	SIDEBAR

******************************/

#sidebar1 {
	left:5px;
}

#sidebar2 {
	left:153px;
}

#sidebar3 {
	right:153px;
}

#sidebar4 {
	right:5px;
}

.sidebar {
	z-index:997;
	position:fixed;
	top:5px;
	width:9em;
	display:none;
}

/******************************
	
	PANEL

******************************/

.connectionmsg {
	color:#999;
	font-family:arial;
	font-size:0.7em;
	padding:5px;
}

.connectionreq {
	display:none;
}

.connected .connectionmsg {
	display:none;
}

.connected .connectionreq {
	display:block;
}

.panel {
    display:none;
    position:relative;
    background-color:#3c3c3c;
    border-radius:5px;
    margin-bottom:4px;
    overflow:hidden;
}

.panel .section {
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	padding-bottom:4px;
	/*max-height:170px;
	overflow:auto;*/
	overflow:auto;
	max-height:300px;
}

.panel *::-webkit-scrollbar-track {
    background-color:#353535;
}

.panel *::-webkit-scrollbar-thumb {
    background-color:#ccc;
    cursor:pointer;
    border-radius:3px;
}

.panel *::-webkit-scrollbar-thumb:hover {
    background-color:#fff;
}

.panel *::-webkit-scrollbar {
    width:4px;
}

.panel .title {
	padding:0.2em;
	padding-left:0.5em;
	/*color: #000;
	background-color:#fff;*/
	color: #909090;
    background-color: #353535;
	font-family:arial;
	font-size:0.8em;
	font-variant:small-caps;
	/*margin-bottom:0.1em;
	margin-top:0.2em;*/
	user-select:none;
	letter-spacing:1px;
	position:relative;
}
.panel .title:hover {
	cursor:pointer;
	color:#000;
	background-color:#fff;
}

.panel .sectiontitle {
	padding:0.2em;
	padding-left:0.5em;
	color: #999;
	background-color:#000;
	font-family:arial;
	font-size:0.7em;
	font-variant:small-caps;
	/*margin-bottom:0.1em;
	margin-top:0.2em;*/
	user-select:none;
	letter-spacing:1px;
	position:relative;
}

.panel .label {
	color: #aaa;
	font-family:arial;
	font-size:0.7em;
	font-variant:small-caps;
	margin-bottom:0.1em;
	margin-top:0.2em;
	user-select:none;
	letter-spacing:1px;
	position:relative;
}
.panel .label:first-child {
	margin-top:-2px !important;
}

.panel .button {
	background-color: #585858;
	color: #ddd;
	padding:0.2em;
	cursor:pointer;
	font-size:0.7em;
	font-family:arial;
	user-select:none;
	margin-bottom:2px;
	border-radius:3px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position:relative;
}

.panel .button.level2 {margin-left:1em;}
.panel .button.level3 {margin-left:2em;}

.panel .button.disabled {
	background-color: transparent;
	pointer-events:none;
}

.panel .button.on {
	background-color:#bdbdbd;
	color:#000;
}

.panel .button.pill {
	display:inline-block;
	margin-right:0.2em;
	padding-left:0.5em;
	padding-right:0.5em;
}

.panel .button.component:hover {
	background-color:#333;
}

.panel .input {
	background-color: #313131; /*#585858;*/
    color: #fff;
    font-family: courier;
    font-size: 0.8em;
    border-radius:3px;
    padding-left:0.2em;
    position:relative;
}

.panel .input.pair {
	display:inline-block;
	width:46%;
	margin-right:0.2em;
	margin-bottom:0.2em;
}

.panel .button.bgaqua {background-color:#00FFFF; color:#00FFFF;}
.panel .button.bgfuchsia {background-color:#FF00FF; color:#FF00FF;}
.panel .button.bggray {background-color:#808080; color:#808080;}
.panel .button.bgblack {background-color:#000; color:#000;}
.panel .button.bgwhite {background-color:#FFF; color:#FFF;}

.panel .button.icon {display:inline-block; margin-right:0.2em; padding:0 !important; width:16px; height:16px; background-size:contain;}
.panel .button.icon.shrinkleft {background-image:url('assets/shrink_left.png');}
.panel .button.icon.shrinkright {background-image:url('assets/shrink_right.png');}
.panel .button.icon.shrinktop {background-image:url('assets/shrink_top.png');}
.panel .button.icon.shrinkbottom {background-image:url('assets/shrink_bottom.png');}
.panel .button.icon.growleft {background-image:url('assets/grow_left.png');}
.panel .button.icon.growright {background-image:url('assets/grow_right.png');}
.panel .button.icon.growtop {background-image:url('assets/grow_top.png');}
.panel .button.icon.growbottom {background-image:url('assets/grow_bottom.png');}
.panel .button.icon.moveleft {background-image:url('assets/move_left.png');}
.panel .button.icon.moveright {background-image:url('assets/move_right.png');}
.panel .button.icon.moveup {background-image:url('assets/move_up.png');}
.panel .button.icon.movedown {background-image:url('assets/move_down.png');}
.panel .button.icon.folderadd {background-image:url('assets/folder_add.png');}
.panel .button.icon.home {background-image:url('assets/home.png');}
.panel .button.icon.diskette {background-image:url('assets/diskette.png');}
.panel .button.icon.openexternal {background-image:url('assets/openexternal.png');}
.panel .button.icon.download {background-image:url('assets/download.png');}
.panel .button.icon.remove {background-image:url('assets/remove.png');}
.panel .button.icon.expanded {background-image:url('assets/expanded.png');}
.panel .button.icon.collapsed {background-image:url('assets/collapsed.png');}
.panel .button.icon.menu {background-image:url('assets/menu.png');}
.panel .button.icon.basic {background-image:url('assets/basic.png');}
.panel .button.icon.advanced {background-image:url('assets/advanced.png');}

.panel .button.buttonicon {background-repeat:no-repeat; padding-left:18px;}
.panel .button.buttonicon.file {background-image:url('assets/file.png'); background-position-x:right; padding-left:0.2em; padding-right:18px;}
.panel .button.buttonicon.folder {background-image:url('assets/folder.png');}

.panel .button.buttonicon.image {background-image:url('assets/image.png');}
.panel .button.buttonicon.jpg {background-image:url('assets/jpg2.png');}
.panel .button.buttonicon.png {background-image:url('assets/png2.png');}
.panel .button.buttonicon.prefab {background-image:url('assets/prefab.png');}
.panel .button.buttonicon.scene {background-image:url('assets/scene.png');}
.panel .button.buttonicon.sound {background-image:url('assets/sound.png');}
.panel .button.buttonicon.atlas {background-image:url('assets/atlas.png');}
.panel .button.buttonicon.message {background-image:url('assets/message.png');}
.panel .button.buttonicon.edit {background-image:url('assets/edit.png');}
.panel .button.buttonicon.connect {background-image:url('assets/connect.png');}

.panel .button.new {
	margin-bottom:0.2em;
}

.panel .button.anim.selected {
	color:yellow;
}

.panel .button:hover {
	background-color:#333;
	color:#aaa;
}

.panel .dropdown select {
	background: #585858;
    color: #ddd;
    border: none;
    border-radius: 3px;
    font-size: 0.7em;
}

.panel .dropdown select:hover {
	background-color:#333;
	color:#aaa;
}

.panel .button.component.icon {
	background-color:transparent;
	float:right;
	top:2px;
	margin-right:0;
}

.componentButton.button.icon:hover {
	background-color:#989898;
}

.componentText {
	color:#999;
	font-family:arial;
	font-size:0.7em;
	padding:5px;
}

.componentLabel {
	font-family:arial;
    font-size:0.8em;
    font-style:italic;
    color:#fff;
    font-variant:small-caps;
    border-radius: 10px;
    clear:both;
    padding-left:1px;
}

.componentDiv {
	position:relative;
	overflow:hidden;
    margin-top:2px;
    margin-bottom:5px;
    margin-left:-2px;
    margin-right:-2px;
    border-radius:4px;
   	padding-left:4px;
    padding-right:4px;
    padding-bottom:4px;
    background-color:#6f6f6f;
    transition:opacity 1.5s ease;
}

.componentDiv .input {
	background-color:#585858;
}

.componentDiv .button {
	background-color:#909090;
}

.panel .componentSection .button {
	margin-bottom:0;
}

/*.panel .button:last-child {
	margin-bottom:0;
}*/

.panel .componentDiv:last-child {
	margin-bottom:0;
}

.mainControl {
	position: fixed;
    right: 3px;
    top: 11px;
    width: 24px;
    height: 24px;
    background-color: #3c3c3c;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
    cursor:pointer;
}

.mainControl:hover {background-color:white; color:black;}

/******************************
	
	VISUAL FEEDBACK

******************************/

#tooltip {
	position:absolute;
	z-index:999;
	background:#fff;
	border-radius:5px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:5px;
	font-size:0.6em;
	font-family:arial;
	/*font-variant:small-caps;*/
	opacity:0;
	transition:all 1s ease;
	height:auto;
}

/*#tooltip.animate {
	right:220px;
	background:#ff0000;
}*/

.fadeout {
	opacity:0;
	/*transform:scaleY(0);*/
}

.overlay { /* NOTE: this only works if parent element has position:relative */
	position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#00ff00;
    width:100%;
    height:100%;
    opacity:0.5;
}

.dragenter {
	background-color:#ff0000;
}

.pulsestart {
	background-color:#0099ff !important;
}

.pulsing {
	transition:background 1s;
}

.error {
	z-index:999;
	display:inline-block;
	position:relative;
	/*padding:1em;*/
	/*position:absolute;*/
	/*left: 0;
	right: 0;
	margin: auto;*/
	background:red;
	color:white;
	transition:all 1s ease;
	/*top: calc(50% - 1em);
    width: 100%;*/
    /*text-align: center;
    font-size: 2em;*/
    top:0;
}

.error.errorfade {
	opacity:0;
	top:-10;
}