/* OVERLAY */

.rapid-diag {
	position:fixed;
	top:0;
	left:0;
	font-size:0.7em;
	color:red;
}

.rapid-overlay {
	position:relative;
}

.rapid-element-overlay {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	/*opacity:0;
	transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;*/
	pointer-events:none;
}

.rapid-element-overlay.on {
	background:rgba(255,0,0,0.4);
	/*border:2px solid red;*/
	/*opacity:0.5;*/
}

.rapid-overlay:focus .rapid-element-overlay.on {
	
	/*border:2px solid blue;*/
}

.rapid-overlay.editing .rapid-element-overlay.on {
	background:rgba(0,0,255,0.4); 
}



@keyframes ants { to { background-position: 100% 100% } }

.marchingants {
	padding: 0;
	border: 1px solid transparent;
	background: linear-gradient(white, white) padding-box,
	            repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	animation: ants 12s linear infinite;
	/*max-width: 20em;*/
	/*font: 100%/1.6 Baskerville, Palatino, serif;*/
}